<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.burkina.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.burkina.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.burkina.activities.NewSite"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <activity 
            android:name="com.burkina.activities.ZoneSelector"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <activity 
            android:name="com.burkina.activities.Registration"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <activity 
            android:name="com.burkina.activities.Dashboard"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <activity 
            android:name="com.burkina.activities.Patient"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <activity 
            android:name="com.burkina.activities.SearchPatient"
            android:theme="@android:style/Theme.NoTitleBar">
      	</activity>
      	
        <activity 
            android:name="com.burkina.activities.DisplayPatient"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <activity 
            android:name="com.burkina.activities.Diagnose"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <activity 
            android:name="com.burkina.activities.DiagnosisResults"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <activity 
            android:name="com.burkina.activities.DiagnosisList"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <activity 
            android:name="com.burkina.activities.DisplayTreatment"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <activity android:name="com.burkina.activities.ManageUser"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
    </application>

</manifest>